<div ID="seleccion">
    <table class="table table-condensed" id="TablaContenido">
        <thead>
            <tr>
                <th>Delegación</th>
                <th>Inspector</th>
                <th>Serie</th>
                <th>Boleta</th>
                <th>Fecha Infracción</th>
                <th>Fecha de Descarga</th>
                <th>Artículos</th>
                <th>Provincia</th>
                <th>Coordenada X</th>
                <th>Coordenada Y</th>
            </tr>
        </thead>
        <tbody id="reporte">

        </tbody>
    </table>
</div>