@model Cosevi.SIBOAC.Models.Boletas

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>


<script type="text/javascript">

    $("#btnExportar").on("click", function run() {
        var divContents = $("#seleccion").html;
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    });

    var tablesToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
        , tmplWorkbookXML = '<?xml version="1.0"?><?mso-application progid="Excel.Sheet"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">'
          + '<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office"><Author>Axel Richter</Author><Created>{created}</Created></DocumentProperties>'
          + '<Styles>'
          + '<Style ss:ID="Currency"><NumberFormat ss:Format="Currency"></NumberFormat></Style>'
          + '<Style ss:ID="Date"><NumberFormat ss:Format="Medium Date"></NumberFormat></Style>'
          + '</Styles>'
          + '{worksheets}</Workbook>'
        , tmplWorksheetXML = '<Worksheet ss:Name="{nameWS}"><Table>{rows}</Table></Worksheet>'
        , tmplCellXML = '<Cell{attributeStyleID}{attributeFormula}><Data ss:Type="{nameType}">{data}</Data></Cell>'
        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (tables, wsnames, wbname, appname) {
            var ctx = "";
            var workbookXML = "";
            var worksheetsXML = "";
            var rowsXML = "";

            for (var i = 0; i < tables.length; i++) {
                if (!tables[i].nodeType) tables[i] = document.getElementById(tables[i]);
                for (var j = 0; j < tables[i].rows.length; j++) {
                    rowsXML += '<Row>'
                    for (var k = 0; k < tables[i].rows[j].cells.length; k++) {
                        var dataType = tables[i].rows[j].cells[k].getAttribute("data-type");
                        var dataStyle = tables[i].rows[j].cells[k].getAttribute("data-style");
                        var dataValue = tables[i].rows[j].cells[k].getAttribute("data-value");
                        dataValue = (dataValue) ? dataValue : tables[i].rows[j].cells[k].innerHTML;
                        var dataFormula = tables[i].rows[j].cells[k].getAttribute("data-formula");
                        dataFormula = (dataFormula) ? dataFormula : (appname == 'Calc' && dataType == 'DateTime') ? dataValue : null;
                        ctx = {
                            attributeStyleID: (dataStyle == 'Currency' || dataStyle == 'Date') ? ' ss:StyleID="' + dataStyle + '"' : ''
                               , nameType: (dataType == 'Number' || dataType == 'DateTime' || dataType == 'Boolean' || dataType == 'Error') ? dataType : 'String'
                               , data: (dataFormula) ? '' : dataValue
                               , attributeFormula: (dataFormula) ? ' ss:Formula="' + dataFormula + '"' : ''
                        };
                        rowsXML += format(tmplCellXML, ctx);
                    }
                    rowsXML += '</Row>'
                }
                ctx = { rows: rowsXML, nameWS: wsnames[i] || 'Sheet' + i };
                worksheetsXML += format(tmplWorksheetXML, ctx);
                rowsXML = "";
            }

            ctx = { created: (new Date()).getTime(), worksheets: worksheetsXML };
            workbookXML = format(tmplWorkbookXML, ctx);

            console.log(workbookXML);

            var link = document.createElement("A");
            link.href = uri + base64(workbookXML);
            link.download = wbname || 'Workbook.xls';
            link.target = '_blank';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    })();
    //]]>

    function imprSelec(nombre)
    {
      var ficha = document.getElementById(nombre);
      var ventimp = window.open(' ', 'Impresion.');

      ventimp.document.write( ficha.innerHTML );
      ventimp.document.close();
      ventimp.print( );
      ventimp.close();
    }

    function doSearch() {
        var tableReg = document.getElementById('TablaContenido');
        var searchText = document.getElementById('searchTerm').value.toLowerCase();
        var cellsOfRow = "";
        var found = false;
        var compareWith = "";

        // Recorremos todas las filas con contenido de la tabla
        for (var i = 1; i < tableReg.rows.length; i++) {
            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            found = false;
            // Recorremos todas las celdas
            for (var j = 0; j < cellsOfRow.length && !found; j++) {
                compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                    found = true;
                }
            }
            if (found) {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
    }

</script>

<h2>Reporte Consulta e Impresión de Boletas</h2>
<h4>Filtro</h4>
<hr />


<div class="form-group">
    <label class="control-label col-md-2">Rango de fechas</label>
    <div class="col-md-10">
        <div class="input-daterange input-group" id="datepicker">
            <input id="desde" type="text" class="input-sm form-control" name="fechaDesde" />
            <span class="input-group-addon">a</span>
            <input id="hasta" type="text" class="input-sm form-control" name="fechaHasta" />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-2">Delegación</label>
            <div class="col-max col-md-10">
                <ul id="listaDelegaciones" class="list-group" data-toggle="items">
                    <!-- -->
                </ul>
            </div>
            <br>
        </div>
        <br /> <br /> <br /> <br /> <br /> <br />
        <br /> <br /> <br /> <br /> <br /> <br />
        <div class="btn-group pull-right">
            <button id="todosDelegacion" type="button" class="btn btn-primary">Marcar todos</button>
            <button id="limpiarDelegacion" type="button" class="btn btn-warning">Limpiar</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-2">Inspector</label>
            <div class="col-max col-md-10">
                <ul id="listaInspectores" class="list-group" data-toggle="items">
                    <!-- -->
                </ul>
            </div>
            <br>
        </div>
        <br /> <br /> <br /> <br /> <br /> <br />
        <br /> <br /> <br /> <br /> <br /> <br />
        <div class="btn-group pull-right">
            <button id="todosInspector" type="button" class="btn btn-primary">Marcar todos</button>
            <button id="limpiarInspector" type="button" class="btn btn-warning">Limpiar</button>
        </div>
    </div>
</div>
<div id="editor"></div>
<br />
<br />
<br />
<br />

<div class="pull-right">
    <button id="generar" type="button" class="btn btn-success">Generar Reporte</button>
</div>


<br />
<br />
<h4>Reporte</h4>
<hr />
<p>
    Búsqueda:
    <input id="searchTerm" type="text" onkeyup="doSearch()" />
</p>

<div class="panel panel-success">
    <div class="panel-heading">
        <input type="image" name="PDF" value="PDF" id="ExportarPDF" src="~/Content/btnPDF.png" onclick="javascript: Descargar()"/>
        <input input id="ExportaExcel" type="image" name="Excel" value="Excel" src="~/Content/btnExcel.png"  onclick="tablesToExcel(['TablaContenido'], ['Hoja1'], 'ReportePorConsultaDeImpresionDeBoletas.xls', 'Excel')"/>
        <input title="Botón Imprimir" type="image" name="Imprimir" value="Imprimir" onClick="javascript:imprSelec('seleccion')" src="~/Content/btnImprimir.png">
    </div>
        <div class="panel-body">
            @Html.Partial("_MostrarReporteConsultaImpresionDeBoletas")
        </div>
    </div>

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello world</title>
</head>
<body>
    <div id="Contenido">

        <h1>Hello world</h1>

    </div>
    <button id="boton" name="Descargar" onclick="javascript: Descargar()"> Descargar</button>
    <script type="text/javascript" src="~/Scripts/jspdf.debug.js"></script>
    <script type="text/javascript">
        function Descargar() {
            var pdf = new jsPDF('l', 'mm', [297, 210]);
            //{
            //    unit: 'px',
            //    format: 'A5'
            //}

            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };

            pdf.fromHTML($('#seleccion').get(0), 20, 20, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
     
            pdf.save('ReportePorConsultaImpresionDeBoleta.pdf');
        };

       
    </script>
</body>
</html>*@

 @section Scripts {
   @Scripts.Render("~/bundles/ReportePorConsultaImpresionDeBoletas")
}
