@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated || true)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>
                Hola @User.Identity.GetUserName()!
            </a>           
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        </li>
        <li>            
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                Salir
            </a>
        </li>
    </ul>
    }
}
