<ul id="menuoptions" class="py-1 nav nav-pills nav-stacked">
    @foreach (Cosevi.SIBOAC.Models.SIBOACMenuOpciones item in Cosevi.SIBOAC.Security.Utilities.GetMenuOptions(User.Identity.Name))
    {        
        <li><a href="@item.URL">@item.Descripcion</a></li>
    }    

</ul>
