<ul id="menuoptions" class="py-1 nav nav-pills nav-stacked">
    <li><a href="/AlineacionHorizontals">Alineaciones horizontales</a></li>
    <li><a href="/AlineacionVerticals">Alineaciones verticales</a></li>
    <li><a href="/Cantons">Cantones</a></li>
    <li><a href="/CaracteristicasDeUbicacions">Características de ubicación</a></li>
    <li><a href="/Carrils">Carriles</a></li>
    <li><a href="/Carrocerias"></a>Carrocerias</li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    
    <li><a href="/MotivoPorNoFirmars">Motivos para no firmar</a></li>
    <li><a href="/Obstaculoes">Obstáculos</a></li>
    <li><a href="/Dispositivoes">Dispositivos</a></li>
    <li><a href="#">Estados Civiles</a></li>
    <li><a href="#">Estados de la calzada</a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#">Iluminaciones</a></li>
    <li><a href="#">Inconsistencias</a></li>
    <li><a href="#">Maniobras</a></li>
    <li><a href="#">Marcas de automóviles</a></li>
</ul>
