<ul id="menuoptions" class="py-1 nav nav-pills nav-stacked">
    <li><a href="/AlineacionHorizontals">Alineaciones horizontales</a></li>
    <li><a href="/AlineacionVerticals">Alineaciones verticales</a></li>
    <li><a href="/ArticulosPorDepositosDeBienes">Articulos por deposito de bienes</a></li>
    <li><a href="/Autoridads">Autoridad</a></li>
    <li><a href="/Cantons">Cantones</a></li>
    <li><a href="/CaracteristicasDeUbicacions">Características de ubicación</a></li>
    <li><a href="/Carrils">Carriles</a></li>
    <li><a href="/Carrocerias">Carroceria</a></li>
    <li><a href="/CatalogoDeArticulos">Catálogo de articulos</a></li>
    <li><a href="/Circulacions">Circulación</a></li>
    <li><a href="/ClaseDePlacas">Clases de placas</a></li>
    <li><a href="/CodigoDeLaPlacas">Código de placas</a></li>
    <li><a href="/CondicionDeLaCalzadas">Condición de la calzada</a></li>
    <li><a href="/CondicionDeLaPersonas">Condición de la persona</a></li>
    <li><a href="/Danoes">Daños</a></li>
    <li><a href="/DanioPorHospitals">Daños por hospital</a></li>
    <li><a href="/DetallePorTipoDanios">Detalle por tipo de daño</a></li>
    <li><a href="/DetallePorTipoSenials">Detalle por tipo de señal</a></li>
    <li><a href="/Delegacions">Delegaciones</a></li>
    <li><a href="/Delitoes">Delitos</a></li>
    <li><a href="/DepositoDePlacas">Deposito de placas</a></li>
    <li><a href="/DepositoDeVehiculoes">Deposito de vehiculos</a></li>
    <li><a href="/Direccions">Direcciones</a></li>
    <li><a href="/Dispositivoes">Dispositivos</a></li>
    <li><a href="/DispositivoPorRolPersonas">Dispositivos por rol de persona</a></li>
    <li><a href="/Distritoes">Distritos</a></li>
    <li><a href="/Divisions">División</a></li>
    <li><a href="/Edads">Edad</a></li>
    <li><a href="/EstadoCivils">Estado civil</a></li>
    <li><a href="/EstadoDeLaCalzadas">Estado de la calzada</a></li>
    <li><a href="/Examen">Examen</a></li>
    <li><a href="/HorasLaborales">Horas laborales</a></li>
    <li><a href="/Hospitals">Hospital</a></li>
    <li><a href="/Iluminacions">Iluminación</a></li>
    <li><a href="/Inconsistencias">Inconsistencia</a></li>
    <li><a href="/Inspectors">Inspector</a></li>
    <li><a href="/Interseccions">Intersección</a></li>
    <li><a href="/Maniobras">Maniobra</a></li>
    <li><a href="/MarcaDeAutomovils">Marca de automóvil</a></li>
    <li><a href="/MotivoPorNoFirmars">Motivo de no firma</a></li>
    <li><a href="/NombreDeMenus">Nombre de los menús</a></li>
    <li><a href="/Nacionalidads">Nacionalidad</a></li>
    <li><a href="/Obstaculoes">Obstáculos</a></li>
    <li><a href="/OficinaParaImpugnars">Oficina para impugnar</a></li>
    <li><a href="/OpcionDeFormularios">Opciones de formulario</a></li>
    <li><a href="/OpcionesDelPlanoes">Opciones del plano</a></li>
    <li><a href="/OtroTipoTransportes">Otro tipo de transporte</a></li>
    <li><a href="/Peatons">Peatones</a></li>
    <li><a href="/Plantillas">Plantillas</a></li>
    <li><a href="/Provincias">Provincias</a></li>
    <li><a href="/Revisions">Revisiones</a></li>
    <li><a href="/RolDePersonaPorVehiculoes">Rol de persona por vehiculo</a></li>
    <li><a href="/RolPorPersonas">Rol por persona</a></li>
    <li><a href="/RolPorPersonaOpcionFormularios">Rol por persona por opciones de formulario</a></li>
    <li><a href="/RolDePersonaPorTipoIdDeVehiculoes">Rol de persona por tipo de id de vehiculo</a></li>
    <li><a href="/Rutas">Rutas</a></li>
    <li><a href="/RutasPorDistritos">Rutas por distrito</a></li>
    <li><a href="/Senalamientoes">Señalamiento</a></li>
    <li><a href="/Sentidoes">Sentido</a></li>
    <li><a href="/Sexoes">Sexo</a></li>
    <li><a href="/Tiempoes">Tiempo</a></li>
    <li><a href="/TipoDeAccidentes">Tipos de accidente</a></li>
    <li><a href="/TipoDeCalzadas">Tipos de calzada</a></li>
    <li><a href="/TipoDeDocumentoes">Tipos de documento</a></li>
    <li><a href="/TipoDeEstructuras">Tipos de estructura</a></li>
    <li><a href="/TipoDeIdentificacions">Tipos de identificación</a></li>
    <li><a href="/TipoIdDeVehiculoes">Tipos de identificación de vehiculos</a></li>
    <li><a href="/TipoDeIdentificacionPorTipoVehiculoes">Tipos de identificación por tipos de vehiculo</a></li>
    <li><a href="/TipoDeLicencias">Tipos de licencia</a></li>
    <li><a href="/TipoDeSenalExistentes">Tipos de señales existentes</a></li>
    <li><a href="/TipoDeVehiculoes">Tipo de vehiculo</a></li>
    <li><a href="/TiposDeVehiculos">Tipos de vehiculo</a></li>
    <li><a href="/TipoVehiculoPorCodigoPorClases">Tipos de vehiculo por codigo por clase</a></li>      
    <li><a href="/TiposPorDocumentoes">Tipos por documentos</a></li>
    <li><a href="/UnidadesDeAlcohols">Unidades de alcohol</a></li>
    <li><a href="/VariablesParaBloqueos">Variables para bloqueos</a></li>
    <li><a href="/ValidarCarrocerias">Validar carroceria</a></li>

</ul>
