<div ID="seleccion">
    <table class="table table-condensed" id="TablaContenido">
        <thead>
            <tr>
                <th>Serie Boleta</th>
                <th>Número Boleta</th>
                <th>Código Inspector</th>
                <th>Nombre Inspector</th>
                <th>Fecha Descarga</th>
                <th>Fecha Infracción</th>
                <th>Autoridad</th>
                <th>Delegación</th>
                <th>Clase Placa</th>
                <th>Código-Número Placa</th>
                <th>Numero Handheld</th>
                <th>Serie-Número Parte</th>
            </tr>
        </thead>
        <tbody id="reporte"></tbody>
    </table>
</div>