<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Sites\Logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <!--COSEVI PRUEBAS-->
    <!--<add name="PC_HH_AndroidEntities" connectionString="metadata=res://*/Models.PC_HH_AndroidModel.csdl|res://*/Models.PC_HH_AndroidModel.ssdl|res://*/Models.PC_HH_AndroidModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.16;initial catalog=PC_HH_Android;persist security info=True;user id=adcmovil;password=4dcm0v1l2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIBOACSecurityEntities" connectionString="metadata=res://*/Models.SIBOACSecurityModel.csdl|res://*/Models.SIBOACSecurityModel.ssdl|res://*/Models.SIBOACSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.16;initial catalog=PC_HH_Android;persist security info=True;user id=adcmovil;password=4dcm0v1l2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--COSEVI PRODUCTIVO-->
    <add name="PC_HH_AndroidEntities" connectionString="metadata=res://*/Models.PC_HH_AndroidModel.csdl|res://*/Models.PC_HH_AndroidModel.ssdl|res://*/Models.PC_HH_AndroidModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.6;initial catalog=PC_HH_Cosevi;persist security info=True;user id=adcMovil;password=m0v1lpc4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIBOACSecurityEntities" connectionString="metadata=res://*/Models.SIBOACSecurityModel.csdl|res://*/Models.SIBOACSecurityModel.ssdl|res://*/Models.SIBOACSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.6;initial catalog=PC_HH_Cosevi;persist security info=True;user id=adcMovil;password=m0v1lpc4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Greivin Connections-->
    <!--<add name="PC_HH_AndroidEntities" connectionString="metadata=res://*/Models.PC_HH_AndroidModel.csdl|res://*/Models.PC_HH_AndroidModel.ssdl|res://*/Models.PC_HH_AndroidModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PC_HH_Android;Integrated Security=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIBOACSecurityEntities" connectionString="metadata=res://*/Models.SIBOACSecurityModel.csdl|res://*/Models.SIBOACSecurityModel.ssdl|res://*/Models.SIBOACSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PC_HH_Android;Integrated Security=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--ROY PC CONNECTIONS-->
    <!--<add name="PC_HH_AndroidEntities" connectionString="metadata=res://*/Models.PC_HH_AndroidModel.csdl|res://*/Models.PC_HH_AndroidModel.ssdl|res://*/Models.PC_HH_AndroidModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-LAMOTPV\MSSQLSERVER2016;Initial Catalog=PC_HH_Android;Integrated Security=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIBOACSecurityEntities" connectionString="metadata=res://*/Models.SIBOACSecurityModel.csdl|res://*/Models.SIBOACSecurityModel.ssdl|res://*/Models.SIBOACSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-LAMOTPV\MSSQLSERVER2016;Initial Catalog=PC_HH_Android;Integrated Security=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="CommandTimeout" value="180" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HomeImagePath" value="Content/TituloCOSEVI.png" />
    <!--Si no es un Directorio Virtual el valor deberia ser / -->
    <add key="VirtualDirectory" value="/" />
    <add key="SystemName" value="Sistema de Reportes para Boletas Digitales" />
    <add key="DefaultErrorTitle" value="Nuestras disculpas..." />
    <add key="DefaultErrorMessage" value="Ha ocurrido un error inesperado. Favor contacte al administrador del sistema." />
    <add key="DaysToExpire" value="30"/>
    <add key="AbrirConexionBD" value="server=10.10.10.6; database=PC_HH_Cosevi ; user id=adcMovil; password=m0v1lpc4"/>
    <!--<add key="EmailFrom" value="frogreportesdospinos@gmail.com"/>
    <add key="PassEmailFrom" value="FrOgDoSpInOs_123"/>-->
    <!--<add key="AbrirConexionBD" value="server=DESKTOP-LAMOTPV\MSSQLSERVER2016 ; database=PC_HH_Android; integrated security = true"/>-->      
    
    <!--COSEVI SV-->
    <add key="UploadFilePath" value="\\SERVER_NAS\archivos_cosevi\Sistemas COSEVI\Sistema de Boletas y Accidentes" />
    <add key="DownloadFilePath" value="http://granja:150/imagenesBOAC/" />
    <add key ="RutaVirtual" value ="~/imagenesBOAC/"/>
   
    <!--<add key="UploadFilePath" value="C:\Users\ADC-ROY\source\repos\SIBOAC\Cosevi.SIBOAC\UploadFile" />
    <add key="DownloadFilePath" value="http://localhost/UploadFile/" />
    <add key ="RutaVirtual" value ="~/UploadFile/"/>-->

    <!--<add key="UploadFilePath" value="\\Afariasrv\adc\ContenedorImagenes" />    
    <add key="DownloadFilePath" value="http://localhost:61645/ContenedorImages" />-->
    
    <add key="AllowFileTypes" value="JPG,3GP,WMV,PDF,BMP,PNG,SVG" />
    <add key="ExtenException" value="PDF,3GP,WMV,SVG,SVGC" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"
        validate="false"/>
    </httpHandlers>
    <sessionState mode="InProc" timeout="10" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="10" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.DataVisualization, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Design, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebDesign, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WinForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc"
          type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />    
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add name="CustomMembershipProvider" type="Cosevi.SIBOAC.Security.CustomMembershipProvider, Cosevi.SIBOAC" />
        <!--<add name="ClassName" type="NamespaceName.ClassName, assemble (dll) name"/>-->      
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <add name="CustomRoleProvider" type="Cosevi.SIBOAC.Security.CustomRoleProvider, Cosevi.SIBOAC" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.4.0" newVersion="5.5.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>