@model Cosevi.SIBOAC.Models.StatusActualDelPlano

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />


<table align="center">
    <tr>
        <td>
            <h1> Reporte Status Actual de Plano o Croquis </h1>
        </td>
    </tr>
</table>
<br />
<br />


<div style="font-family:Arial">

    @using (Html.BeginForm("obtenerRadiobutton", "StatusActualDelPlano", FormMethod.Get))
    {

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3 class="text-center">Seleccione la opción Status Actual del Plano</h3>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center">
                    <div>
                        <input type="radio" name="estadoPlano" value="1"> Con Plano
                        <br>
                        <input type="radio" name="estadoPlano" value="2"> Sin Plano
                        <br>
                        <input type="radio" name="estadoPlano" value="3"> Entrega Posterior
                        <br>
                        <input type="radio" name="estadoPlano" value="4"> Entrega Posterior Sí
                        <br>
                        <input type="radio" name="estadoPlano" value="5"> Entrega Posterior No
                        <br>
                        <br>
                        <br>
                        <input type="submit" value="Enviar valor radio button" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    }
</div>




@using (Html.BeginForm("obtenerRangoFechas", "StatusActualDelPlano", FormMethod.Get))
{

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="text-center">Seleccione el rango de fechas</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">

                <table align="center">
                    <tr>
                        <td>
                            <div>
                                <br>
                                Fecha de inicio
                                <br> <input type="date" name="FechaDeInicio" value="" />
                            </div>
                            <div>
                                Fecha de finalización
                                <br> <input type="date" name="FechaDeFin" value="" />
                            </div>
                            <br>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

}

  <table align="center">
     <tr>
        <td>
            <div style="font-family:Arial">
                <h3 class="text-center">Listado de delegaciones</h3>

                @using (Html.BeginForm())
                {
                    @Html.ListBoxFor(m => m.SelectedDelegaciones, Model.StatusActual, new { id = "listBox1", size = 10 })
                    <br>

                   

                    //<input id="btnAgregar" type="submit" value="Agregar"/>
                }
            </div>
        </td>
     </tr>
  </table>

<br>
<br>

<table align="center">

                <tr>
                    <td>
                        <input type="submit" value="Generar Reporte" class="btn btn-primary" />
                    </td>
                </tr>
</table>


@*<div class="panel-body">
    @Html.Partial("_PlanoView", Model.StatusActual);
</div>*@

@*<div class="panel-body">
    @Html.Partial("_PlanoView", Model);
</div>*@