<div ID="seleccion">
    <table class="table table-condensed" id="TablaContenido">
        <thead>
            <tr>
                <th>Autoridad</th>
                <th>Serie</th>
                <th>Parte Oficial</th>
                <th>Boletas</th>
                <th>Fecha Accidente</th>
                <th>Fecha Descarga</th>
                <th>Identificación</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody id="reporte"></tbody>
    </table>
</div>