@{
    ViewBag.Title = "Confirmación de cambio de contraseña";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Porfavor verifique su email donde se envio la nueva contraseña.        
         @Html.ActionLink("Haga clic aquí para ingresar su nueva contraseña", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
	
