
<div ID="seleccion">
    <table class="table table-condensed" id="TablaContenido">
        <thead>
            <tr>
                <th>Serie Boleta</th>
                <th>Número Boleta</th>
                <th>Fecha Accidente</th>
                <th>Autoridad Judicial</th>
                <th>Delegación</th>
                <th>Clase Placa</th>
                <th>Código-Número Placa</th>
                <th>Identificación Usuario</th>
                <th>Nombre Usuario</th>
                <th>Rol Usuario</th>
                <th>Serie Parte Oficial</th>
                <th>Número Parte Oficial</th>
            </tr>
        </thead>
        <tbody id="reporte"></tbody>
    </table>
</div>
