@model Cosevi.SIBOAC.Models.ParteOficial

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/tableexport.js"></script>
<script>

    var tablesToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
        , tmplWorkbookXML = '<?xml version="1.0"?><?mso-application progid="Excel.Sheet"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">'
          + '<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office"><Author>Axel Richter</Author><Created>{created}</Created></DocumentProperties>'
          + '<Styles>'
          + '<Style ss:ID="Currency"><NumberFormat ss:Format="Currency"></NumberFormat></Style>'
          + '<Style ss:ID="Date"><NumberFormat ss:Format="Medium Date"></NumberFormat></Style>'
          + '</Styles>'
          + '{worksheets}</Workbook>'
        , tmplWorksheetXML = '<Worksheet ss:Name="{nameWS}"><Table>{rows}</Table></Worksheet>'
        , tmplCellXML = '<Cell{attributeStyleID}{attributeFormula}><Data ss:Type="{nameType}">{data}</Data></Cell>'
        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (tables, wsnames, wbname, appname) {
            var ctx = "";
            var workbookXML = "";
            var worksheetsXML = "";
            var rowsXML = "";

            for (var i = 0; i < tables.length; i++) {
                if (!tables[i].nodeType) tables[i] = document.getElementById(tables[i]);
                for (var j = 0; j < tables[i].rows.length; j++) {
                    rowsXML += '<Row>'
                    for (var k = 0; k < tables[i].rows[j].cells.length; k++) {
                        var dataType = tables[i].rows[j].cells[k].getAttribute("data-type");
                        var dataStyle = tables[i].rows[j].cells[k].getAttribute("data-style");
                        var dataValue = tables[i].rows[j].cells[k].getAttribute("data-value");
                        dataValue = (dataValue) ? dataValue : tables[i].rows[j].cells[k].innerHTML;
                        var dataFormula = tables[i].rows[j].cells[k].getAttribute("data-formula");
                        dataFormula = (dataFormula) ? dataFormula : (appname == 'Calc' && dataType == 'DateTime') ? dataValue : null;
                        ctx = {
                            attributeStyleID: (dataStyle == 'Currency' || dataStyle == 'Date') ? ' ss:StyleID="' + dataStyle + '"' : ''
                               , nameType: (dataType == 'Number' || dataType == 'DateTime' || dataType == 'Boolean' || dataType == 'Error') ? dataType : 'String'
                               , data: (dataFormula) ? '' : dataValue
                               , attributeFormula: (dataFormula) ? ' ss:Formula="' + dataFormula + '"' : ''
                        };
                        rowsXML += format(tmplCellXML, ctx);
                    }
                    rowsXML += '</Row>'
                }
                ctx = { rows: rowsXML, nameWS: wsnames[i] || 'Sheet' + i };
                worksheetsXML += format(tmplWorksheetXML, ctx);
                rowsXML = "";
            }

            ctx = { created: (new Date()).getTime(), worksheets: worksheetsXML };
            workbookXML = format(tmplWorkbookXML, ctx);

            console.log(workbookXML);

            var link = document.createElement("A");
            link.href = uri + base64(workbookXML);
            link.download = wbname || 'Workbook.xls';
            link.target = '_blank';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    })();

    function imprSelec(nombre)
    {
      var ficha = document.getElementById(nombre);
      var ventimp = window.open(' ', 'Impresion.');

      ventimp.document.write( ficha.innerHTML );
      ventimp.document.close();
      ventimp.print( );
      ventimp.close();
    }

    function doSearch() {
        var tableReg = document.getElementById('TablaContenido');
        var searchText = document.getElementById('searchTerm').value.toLowerCase();
        var cellsOfRow = "";
        var found = false;
        var compareWith = "";

        // Recorremos todas las filas con contenido de la tabla
        for (var i = 1; i < tableReg.rows.length; i++) {
            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            found = false;
            // Recorremos todas las celdas
            for (var j = 0; j < cellsOfRow.length && !found; j++) {
                compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                    found = true;
                }
            }
            if (found) {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
    }

</script>


<h2>Reporte Consulta e Impresión de Parte Oficial</h2>
<h4>Filtro</h4>
<hr />
<p>
    Búsqueda:
    <input id="searchTerm" type="text" onkeyup="doSearch()" />
</p>

<div>
    <div class="form-group">
        <label class="control-label col-md-2">Seleccione la opción por la que desea consultar:</label>
        <div class="col-md-10">
            <div class="radio" id="radioButton">
                <label><input id="radio01" type="radio" name="opcionConsulta" value="1">Parte Oficial</label>
                <br>
                <label><input id="radio02" type="radio" name="opcionConsulta" value="2">Boleta de Citación</label>
                <br>
                <label><input id="radio03" type="radio" name="opcionConsulta" value="3">Identifiación del Implicado</label>
                <br>
                <label><input id="radio04" type="radio" name="opcionConsulta" value="4">Placa</label>
                <br>
            </div>

        </div>
    </div>
    <br/>
    <br/>
    @*<style type="text/css">
        .desc {
            display: none;
        }
    </style>*@
    <br/>
    <br />
    <br />
    <div id="opc-1" style="display:none">
        <br>
        Serie del Parte Oficial
        <br>
        <input id="serieParte" type='text' name='serieParte' class="input-sm form-control" @*size='30' maxLength='60'*@>
        <br>
        N° del Parte Oficial
        <br>
        <input id="numeroParte" type='text' name='numeroParte' class="input-sm form-control" @*size='30' maxLength='60'*@>
        <br>
    </div>

    <div id="opc-2" style="display:none;">
        <br>
        Serie de la Boleta de Citación
        <br>
        <input id="serieBoleta" type='text' name='serieBoleta' class="input-sm form-control">
        <br>
        N° de la Boleta de Citación
        <br>
        <input id="numeroBoleta" type='text' name='numeroBoleta' class="input-sm form-control">
        <br>
    </div>

    <div id="opc-3" style="display:none;">
        <br>
        Tipo de Identificación
        <br>
        <input id="tipoId" type='text' name='tipoId' class="input-sm form-control">
        <br>
        N° Identificación del Implicado
        <br>
        <input id="numeroID" type='text' name='numeroID' class="input-sm form-control">
        <br>
    </div>

    <div id="opc-4" style="display:none;">
        <br>
        N° de Placa
        <br>
        <input id="numeroPlaca" type='text' name='numeroPlaca' class="input-sm form-control">
        <br>
        Código de Placa
        <br>
        <input id="codigoPlaca" type='text' name='codigoPlaca' class="input-sm form-control">
        <br>
        Clase de Placa
        <br>
        <input id="clasePlaca" type='text' name='clasePlaca' class="input-sm form-control">
        <br>
    </div>
</div>

<br/>

<div class="pull-right">
    <button id="generar" type="button" class="btn btn-success">Generar reporte</button>
    @*<button id="todos" type="button" class="btn btn-primary">Todos</button>*@
</div>


<br/>
<br/>
<br/>
<h4>Reporte</h4>
<hr/>


<div class="panel panel-success">
    <div class="panel-heading">
        <input type="image" name="submit" value="PDF" id="ExportarPDF" src="~/Content/btnPDF.png" />
        <input input id="ExportaExcel" type="image" name="Excel" value="Excel" src="~/Content/btnExcel.png" onclick="tablesToExcel(['TablaContenido'], ['Hoja1'], 'ReporteConsultaParteOficial.xls', 'Excel')" />
        <input title="Botón Imprimir" type="image" name="Imprimir" value="Imprimir" onClick="javascript:imprSelec('seleccion')" src="~/Content/btnImprimir.png">
    </div>
    <div class="panel-body">
        @Html.Partial("_MostrarReportePorConsultaParteOficial")
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/ReportePorConsultaParteOficial")
}
