<h2>Reporte Diario Oficial</h2>
<h4>Filtro</h4>
<hr />
@using (Html.BeginForm("GetActividadOficial", "Reporte", FormMethod.Get))
{

    <div class="form-group">
        <label class="control-label col-md-2"> Inspector:</label>
        <div class="col-md-10">
            <input type="text" name="CodigoInspector" value="@ViewBag.CodigoInspector" class = "form-control" />
        </div>
    </div>
    <br />
    <br />
        <div class="form-group">
            <label class="control-label col-md-2">Rango de fechas</label>
            <div class="col-md-10">
                <div class="input-daterange input-group" id="datepicker">
                    <input id="FechaInicio" type="text" class="input-sm form-control" name="FechaInicio" value="@Request.Params["FechaInicio"]" />
                    <span class="input-group-addon">a</span>
                    <input id="FechaFin" type="text" class="input-sm form-control" name="FechaFin" value="@Request.Params["FechaFin"]" />
                </div>
            </div>
        </div>
<br />
<br />
<br />
    <br />

<div class="pull-right">
<input type="submit" id="reporte" value="Generar Reporte" class="btn btn-success" />
</div>
}

<iframe id="ifrmReportViewer" style="height:1200px; width:99%;" frameborder="0" scrolling="no"></iframe>
@section scripts
    {
    <script>
        $(document).ready(
        function () {
            Calendario();
            ReportCall();
        });
    </script>

    <script>
        function ReportCall() {

            var url = '/Reports/ViewerPage.aspx?reporteID=@ViewBag.ReporteID&nombreReporte=@ViewBag.NombreReporte&parametros=@ViewBag.Parametros';

            var myFrame = document.getElementById('ifrmReportViewer');
            if (myFrame !== null) {
                if (myFrame.src) {
                    myFrame.src = url;
                }
                else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                    myFrame.contentWindow.location = url;
                }
                else {
                    myFrame.setAttribute('src', url);
                }
            }

            return false;
        }
        function Calendario() {
            $('.input-daterange').datepicker({
                startView: 2
            });
        };
    </script>
}
