body,html,.row-offcanvas {
  height:100%;
}

body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar Bootstrap overrides */

.navbar-fixed-top {
    min-height: 80px;
    background: url("title_bar.png") center repeat-x #222222;
    background-size: auto 100%;
}
.navbar-collapse {
    background-color: #222222;
}
.navbar-toggle{
    margin-top: 22px;
}

.brand img {
    max-height: 81px;
}

@media (min-width: 768px){
    .navbar-collapse {
        background-color: transparent;
    }
    .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* Dashboard CSS */

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }  
}

/* Bootstrap 4 good ideas */

.py-1{
    padding-top: 15px;
    padding-bottom: 15px;
}

.my-1{
    margin-top: 15px;
    margin-bottom: 15px;
}