body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap overrides */
body {
    padding-top: 90px;
}
.navbar-fixed-top {
    min-height: 80px;
    background: url("title_bar.png") center repeat-x #222222;
    background-size: auto 100%;
}
.navbar-collapse {
    background-color: #222222;
}
.navbar-toggle{
    margin-top: 22px;
}

.brand img {
    max-height: 81px;
}

@media (min-width: 768px){
    .navbar-collapse {
        background-color: transparent;
    }
    .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/*.navbar-fixed-top .navbar-collapse {
    max-height: 80px;
}*/

/*@media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 50px;
    }
}*/
