<div ID="seleccion">
    <table class="table table-condensed" id="TablaContenido">
        <thead>
            <tr>
                <th>Serie Parte</th>
                <th>Número Parte</th>
                <th>Fecha Descarga</th>
                <th>Fecha Entrega Plano</th>
                <th>Fecha Accidente</th>
                <th>Serie-Número Boleta</th>
                <th>Autoridad</th>
                <th>Delegación</th>
                <th>Clase-Código-Placa</th>
                <th>Status Plano</th>
                <th>Placa Confiscada</th>
                <th>Vehículo Detenido</th>
            </tr>
        </thead>
        <tbody id="reporte"></tbody>
    </table>
</div>