
<div ID="seleccion">
    <table class="table table-condensed" id="TablaContenido">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Autoridad</th>
                <th>Fecha de accidente</th>
                <th>Serie</th>
                <th>Parte oficial</th>
                <th>Boleta</th>
                <th>Fecha de descarga</th>
                <th>Clase de placa</th>
                <th>Código de placa</th>
                <th>Número de placa</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="reporte"></tbody>
    </table>
</div>

