<div ID="seleccion">
    <table class="table table-condensed" id="TablaContenido">
        <thead>
            <tr>
                <th>Serie</th>
                <th>Número boleta</th>
                <th>Fecha descarga</th>
                <th>Fecha accidente</th>
                <th>Autoridad</th>
                <th>Código delegación</th>
                <th>Clase-Código-Placa</th>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Código de rol</th>
                <th>Serie-Número-Parte</th>
            </tr>
        </thead>
        <tbody id="reporte"></tbody>
    </table>
</div>